{{>head}}

<body>
    {{>navbar}}
    <div id="cart-block">
        <a title="Cart items" href="/cart" >
            <div>
                <h5 id="cart-block-text">.</h5>
            </div>
        </a>
    </div>

    <div id="container" class="container">
        <div class="shadow-page"></div>
        {{{body}}}

    </div> 
    {{>footer}}
</body>

</html>