<h1>Catalog</h1>
<div class="main-block-catalog">
<div>
    <a href="/courses/develop"><img src="https://specials-images.forbesimg.com/imageserve/5f302109ffad89f9130e07db/960x0.jpg?cropX1=0&cropX2=4800&cropY1=243&cropY2=2943" alt="Develop">
        <h5>Develop</h5>
    </a>
    
</div>
<div>
    <a href="/courses/business"><img src="https://thumbor.forbes.com/thumbor/fit-in/1200x0/filters%3Aformat%28jpg%29/https%3A%2F%2Fblogs-images.forbes.com%2Falejandrocremades%2Ffiles%2F2018%2F12%2Fbusiness-3605367_1920-1200x741.jpg" alt="business">
        <h5>Business</h5>
    </a>
    
</div>
<div>
    <a href="/courses/design"><img src="https://image.freepik.com/free-vector/design-word-concept_23-2147844787.jpg" alt="Design">
        <h5>Design</h5>
    </a>
    
</div>
<div>
    <a href="/courses/music"><img src="https://www.larkmusic.com/wp-content/uploads/2020/07/Instruments-1-1.png" alt="Music">
        <h5>Music</h5>
    </a>

</div>
<div>
    <a href="/courses"><img src="https://i.dlpng.com/static/png/6826423_preview.png" alt="All">
    <h5>All</h5>
    </a>

</div>
</div>