<div class="row main-row-enter">
    <h1>Input new password</h1>
    <form class="col s12" action="/authorization/reset/resetpassword" method="POST">
     
      <div class="row">
          {{#if error}}
          <p>{{error}}</p>
          {{/if}}
        <div class="input-field col s12">
          <input id="respassword" type="text" class="validate" name="password">
          <label for="email">new Password</label>
        </div>
    
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <input type="hidden" name="userId" value="{{userId}}">
            <input type="hidden" name="token" value="{{token}}">


              <button class="waves-effect waves-light btn-large" type="submit">Set new password</button>

    </form>
</div>
